@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  gap: 10%;
  justify-content: center;  
  align-items: center;
  height: 100%;
}

.loginImage{
  width: auto;
  height: auto;
}

.loginForm {
  background-color: #fff;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  width: 30vw;
  height: auto;
}

.form {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.login {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  font-weight: 700;
  transition: .2s;
  width: 75%;
  font-size: 20px;
}

.login::placeholder {
  font-size: 1vw; 
  color: lightgrey;
}

.login:active,
.login:focus,
.login:hover {
  outline: none;
  border-bottom-color: red;
}

.btn {
  border: none;
  font-size: 20px;
  width: 75%;
  background-color: red;
  color: white;
  padding: 15px 0;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s ease;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15);
}

.rememberCheckBox{
  text-align: left;
  padding-left: 11%;
}



@media (max-width: 768px) {
  .layout {
    height: auto;
    padding: 40px 0;
  }

  .content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: auto;
    width: 100%;
  }

  .loginImage {
    width: 60%;
    height: auto;
  }

  .loginForm {
    width: 90%;
    padding: 20px 10px;
    font-size: 16px;
  }

  .login {
    width: 90%;
    font-size: 16px;
  }

  .login::placeholder {
    font-size: 14px;
  }

  .btn {
    width: 90%;
    font-size: 18px;
    padding: 12px 0;
  }

  form p {
    padding: 10px 0;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .rememberCheckBox{
    text-align: left;
    padding-left: 2%;
    margin-top: -5%;
  }
}
