.profileEdit {
  padding: 24px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
}

.profileEdit h3 {
  font-size: 20px;
  margin-bottom: 16px;
  color: #333;
}

.profileEdit input {
  width: 95%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.profileEdit button {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.2s;
}

.profileEdit button:hover {
  background-color: darkred;
}

.error {
  color: darkred;
  font-size: 13px;
  margin: -2px 0 12px 7px; 
}

.success {
  color: red;
  font-size: 15px;
  /* text-align: center; */
  margin: 0 0 15px 5px;
}

.warning{
  color: 	#4B0000;
  font-size: 15px;
  /* text-align: center; */
  margin: 0 0 15px 5px;
}