.priceTableWrapper {
    overflow-x: auto;
    font-size: 14px;
  }
  
.priceTable {
  text-align: center;
  width: 88%;
  border-collapse: collapse;
  font-size: clamp(10px,1.5vh,20px);
  min-width: 600px;
  margin: 0 auto;
}

th{
  height: 5vh;
  border-bottom: 2px double 	#d3d3d3;
}



th.jvillageCell{
  border-radius: 10px 10px 0 0;
  height: 5vh;
  border-bottom: 2px double white;
  
}

tr:nth-child(n+1):nth-child(-n+4) td {
  /* border: 1px solid #ccc; */
  border-bottom: 1px solid 	#d3d3d3;
  border-left: none;
  border-top: none;
}

tr:nth-child(n+1):nth-child(-n+4) td.jvillageCell{
  border-bottom: 1px solid 	white;
  border-left: none;
}

tr:last-child td.jvillageCell {
  border-radius: 0 0 10px 10px;
}

.jvillageCell{
  font-size: clamp(10px,2vh,120px);
    font-weight: 700;
    background-color: red;
    color: white;
    width:clamp(40px,1vh,120px);
    box-shadow: 2px 4px 6px gray;
}

.rowTitle{
  width: clamp(40px,1vh,120px);
  font-weight: 600;
}

th.rowTitle {
   border-bottom: 2px double #d3d3d3;
}

td.nvillage{
  height: 4vh;
  width:clamp(40px,0.8vh,100px);
}

th.nvillage{
  border-top: transparent;
  padding: 1px 0 1px 0;
  height: 4vh;
  width: clamp(40px,0.8vh,100px);
}

.heightControll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #d3d3d3;
  /* border-right: 1px solid #d3d3d3; */
  height: 80%;
  width: 100%;
}

.note{
  padding-left: 7%;
  margin-top: 15px;
  font-size: 12px;
}
