@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


.container {
  position: absolute;
  top: 20%;
  right: 10%;
}

.background {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 40px 30px -20px #0000004d;
  padding: 0px;
  text-align: center;
  width: 30vw;
  height: auto;
  opacity: 0.8;
  overflow: auto;
}

.form {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.login {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  font-weight: 700;
  transition: .2s;
  width: 75%;
}

.login:active,
.login:focus,
.login:hover {
  outline: none;
  border-bottom-color: rgb(68, 112, 67);
}

.btn {
  border: none;
  width: 75%;
  background-color: rgb(68, 112, 67);
  color: white;
  padding: 15px 0;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}

.btn:hover {
  background-color: rgb(49, 82, 48);
}