header{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2% 2%;
    width: 80%;
    z-index: 1000;
    background-color: white;
}

.logo{
    width: 8%;
    height: auto;
}

.navselector{
    text-align: center;
    padding: 10px 0px;
    width: 20%;
    min-width: 330px;
    border: 3px solid red;
    border-radius: 20px;
    margin: 0 auto;
}

.navwelcome{
    border: none;
    background-color: transparent;
    height: auto;
    font-size: 20px;
    font-weight: 700;
}

.navprice{
    border: none;
    background-color: transparent;
    height: auto;
    font-size: 20px;
    font-weight: 700;
}

.navlessonflow{
    border: none;
    background-color: transparent;
    height: auto;
    font-size: 20px;
    font-weight: 700;
}

.navlogin{
    border: none;
    background-color: transparent;
    color: gray;
    font-weight: 500;
}

.slash{
    font-size: 20px;
}

.navlogin{
    height: auto;
    font-size: 15px;
}

.blank{
    height: 18vh;
}

.content1{
    display: flex;
    justify-content: space-around;
    /* opacity: 0.5; */
    width: 80%;
    margin: 0 auto;
}

.ingang{
    width: 50%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
}

.textcontent1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: clamp(15px, 4.5vw, 70px); 
    
    height: 90%;
    width: 40%;
    margin: auto auto;    
}

.lefttext{
    bottom: 100%;
    display: flex;
    justify-content: flex-start;
    height: auto;
    /* width: auto; */
    font-weight: 500;
    transform: translateY(2%);
    
}

.righttext{
    display: flex;
    justify-content: flex-end;
    height: auto;
    font-weight: 500;
    transform: translateY(2%);
}

.redhighlight{
    position: relative;
    font-style: italic;
    font-size: clamp(15px, 4.8vw, 84px);
    font-weight: 700;
    color: red;
    margin-right: 5px;
    transform: translateY(-10%);
}



h2{
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
}

.smallcontent21,
.smallcontent22,
.smallcontent23{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.smallcontent21text,
.smallcontent22text,
.smallcontent23text{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 10px;
    font-size: clamp(15px, 4vw, 45px); 
    
    height: 90%;
    width: 50%;
    margin: auto auto;    
}

.smallcontent21image{
    flex: 0.8;
    width: 50%;
    margin: auto 0 ;
}

.question{
    width: 55%;
    margin-left: 15%;
}

.smallcontent21texttitle,
.smallcontent22texttitle,
.smallcontent23texttitle{
    font-weight: 700;
    margin-bottom: 70px;
}

.smallcontent21texttext,
.smallcontent22texttext,
.smallcontent23texttext{
    font-size: 0.6em;
}

.smallcontent22image{
    flex: 1;
    object-fit: contain;
    margin: auto 0 ;
}

.frustration{
    width: 51%;
    margin-left: 15%;
}

.smallcontent23image{
    flex: 1;
    object-fit: contain;
    margin: auto 0 ;
}

.culture{
    width: 58%;
    margin-left: 15%;
}

.smallcontent31{
    text-align: center;
    border: 4px solid black;
    border-radius: 20px;
    width: 35%;
    min-width: 310px;
    /* height: 400px; */
    margin: 0 auto;
    overflow: hidden;
}

.smallcontent31title{
    text-align: center;
    padding: 5px 10px;
    color: white;
    font-size: clamp(14px, 3vw, 50px);
    font-weight: 700;
    background-color: red;
    padding: 5px 0;
    
}

.smallcontent31subtitle{
    display: inline-block;
    font-size: clamp(14px, 1.3vw, 50px);
    font-weight: 700;
    border: 2px solid red;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 20px auto;
}

.smallcontent31body{
    display: flex;
    text-align: center;
    font-size: clamp(14px, 1.9vw, 50px);
    font-weight: 500;
    margin: 15px;
}

.smallcontent31body1{
    width: 50%;
    line-height: 4vw;
}

.smallcontent31body2{
    width: 50%;
    line-height: 4vw;
    border-left: 2px dotted black;
}

.redhighlight2{
    font-size: clamp(14px, 2.3vw, 50px);
    color: red;
    font-weight: 700;
}

.taxtext{
    font-size: clamp(14px, 1.3vw, 50px);
    color: red;
}

.smallcontent31comment{
    width: 80%;
    text-align: left;
    margin: 10px auto;
    font-weight: 600;
}